*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Montserrat, sans-serif;
    background-color: #0a3888;
}

/* Header Start*/

header{
    display: flex;
    background-color: rgb(207, 203, 203);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#logo{
    margin: 20px auto 20px 20px;
}

nav{
    margin: 20px 20px 20px auto;
}

nav li{
    display: inline;
    margin: 0 30px;
    font-size: 1.25em;
}

nav a{
    text-decoration: none;
    color: #0a3888;
}

/* Header End*/

/* Body Start */
@keyframes Slide_down{
    0%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(0);
    }
}

.container{
    text-align: center;
    max-width: 80%;
    width: 600px;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
    padding: 20px;
    margin: 80px auto 20px;
    animation: Slide_down .9s ease-in ;
    height: 75vh;
    padding-top: 5em;
   /* box-shadow: 0 0 10px 2px; */ 
}

h3{
    color: #0a3888;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    margin-bottom: 2em;
}

span{
    font-size: large;
    color: #0a3888;
    font-size: 1.5em;
}

input, .btn{
    width: 70%;
    border-radius: 10px;
    padding: 15px;
    border-style: none;
    margin: 2em auto;
    height: 5em;
}
.btn{
    width: 40%;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #0a3888;
    color: #fff;
    /* margin-left: 15px; */
    margin-bottom: 2em;
    height: 3em;
}
.btn:hover{
    color: #0a3888;
    background-color: #fff;
}
p a{
    color: #0a56da;
    text-decoration: none;
}
p a:hover{
    color: #0a3888;
}

/* Footer Start*/
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(207, 203, 203);
    padding-top: 5px;
}

#left_footer{
    margin-right: 6em;
}
#right_footer{
    margin-left: 6em;
}

footer h4{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .5em;
}

footer img{
    height: 40px;
    width: 40px;
}

footer li{
    list-style: none;
    font-size: 1.15em;
}

#right_footer li{
    display: inline;
    padding: 1em;
}

#left_footer li{
    padding: .15em 0;
}

footer a{
    text-decoration: none;
    color: #000;
}

/* Footer End*/

/* Media Queries*/
@media only screen and (max-width: 720px) {
    /* Header Start*/
#logo{
    margin: 10px auto 10px 10px;
}

nav{
    margin: 10px 10px 10px auto;
}

nav li{
    font-size: 1em;
    margin: 0 10px;
}

/* Header End*/

.container{
    margin: 50px auto 10px;
}

h3 {
    font-size: 1.4em;
}
span{
    font-size: 1em;
}

/* Footer Start*/
#left_footer{
    margin-right: 2em;
}
#right_footer{
    margin-left: 2em;
}

footer h4{
    font-size: 1.2em;
    margin-bottom: .15em;
}

#right_footer li{
    padding: .5em;
}

/* Footer End*/
}

@media only screen and (max-width: 540px){
    /* Header Start*/
nav li{
    margin: 0 10px;
    font-size: .65em;
}
/* Header End*/

.container{
    margin: 45px auto 10px;
    height: 65vh;
    padding-top: 3em;
}

h3 {
    font-size: 1em;
    margin-bottom: 2em;
}
span{
    font-size: 1em;
}
input, .btn{
    margin: 2em auto;
    height: 4em;
}
.btn{
    font-size: 1em;
    margin-bottom: 2em;
}

/* Footer Start*/
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(207, 203, 203);
    padding-top: 5px;
}

#left_footer{
    margin-right: 1em;
}
#right_footer{
    margin-left: 1em;
}

footer h4{
    font-size: 1em;
    margin-bottom: .1em;
}

footer img{
    height: 20px;
    width: 20px;
}

footer li{
    font-size: .95em;
}
/* Footer End*/
}
